body {
  background:radial-gradient(circle at 0% 50%, #9521a0, #9d04f2);
  font-family: sans-serif;
}

.page-contents {
  color: white;
  text-align: center;
  margin-top:30vh;
}

.company-name {
  font-size: 100px;
}

.desc {
  margin-top: 7vh;
  font-size: 80px;
}

.contact-us {
  color: white;
  text-align: center;
  font-size: 20px;
  position: relative;
  top: 10vh;
}

.contact-us-link {
  color: #5990ea;
}
