/*Normalize */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Slabo 27px', serif;
}
a{
    text-decoration: none;
    color: #674FA5;
}

a:visited{
  color: #674FA5;
}

/*Hide X-axis scroll */
body{
    overflow-x: hidden;
}

/*Set value to base rems from*/
html{
    font-size: 10px;
}

/*functional body set to grid*/
#app{
    min-height: 100vh;
    width: 100vw;
    display: grid;
    grid-template-areas: "header header header"
                         "body body body"
                         "body body body"
                         "footer footer footer";
    grid-template-columns: 1fr 3fr 3fr;
    grid-template-rows: 20vh 3fr 3fr 1fr;
    grid-row-gap: 2rem;
    color: #292f33;
}

/*Use classes as selectors from here on, not id*/

/*******************/
/*>>>>>Header >>>>>>/
/*******************/

.main-nav div:last-child{
  margin-left: auto;
  margin-right: 5vw;
  background-color: #674FA5;
  padding: 5px;
  border-radius: 15px;
  box-shadow: 1px 1px 10px grey;
  transition: box-shadow .6s;
}

.header{
    grid-area: header;
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100vw;
    background-color: #674FA5;
    /* color: #ffffff; */
}


/*Evenly space h1 and nav*/
.header h1{
    font-size: 3rem;
    display: inline;
    color: white;

}

.header a{
  color: white;
}

.header .main-nav .contact{
  background: #fff;
  color: #674FA5;
}

.header .main-nav .contact a{
  color: #674FA5;
}


.sticky h1{
  color: #674FA5;
}

.sticky .main-nav div a{
  color: black;
}

.sticky .main-nav div a:visited{
  color: black;
}
/*>>>>>>> Header Nav bar >>>>>>*/
.main-nav{
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 1.5rem;
    color: black;


}

.main-nav div{
    /* padding-right: .5rem; */

}

.main-nav div a{
    /* box-sizing: content-box; */
    display: block;
    width: 100%;
    padding-left: .5rem;
    padding-right: .5rem;
}

.main-nav div a:hover{
    font-weight: bolder;
}
.main-link{
    position: relative;
}
/*Display dropdown nav" */
.main-link:hover + div{
    opacity: 1;
}



.main-nav div:last-child a{
  color: white;
}
.main-nav div:last-child:hover{
  box-shadow: 2px 2px 40px grey;

}

.sticky{
  box-shadow: 1px 2px 50px grey;
  /* border-bottom: 1px black solid; */
  top: 0;
  position: fixed;
  height: 15vh;
  background-color: white;
  z-index: 99;
}

.bottom{
  -webkit-animation: pulsate-fwd 0.5s ease-in-out 3 both;
	        animation: pulsate-fwd 0.5s ease-in-out 3 both;
}

/*>>>>>Drop Downs>>>>>>*/


.sub-nav{
    background: #674FA5;
    position: absolute;
    opacity: 0;
    width: 15vw;
    transition: opacity .6s;
}

.sub-nav:hover{
    opacity: 1;

}

.sub-nav nav{
    display: flex;
    flex-direction: column;
    font-size: 2rem;
    justify-content: space-evenly;
    align-items: center;

}
/* Grey out non selected anchors */
.sub-nav nav:hover a:not(:hover){
    opacity: .5;
}

/* Apply divider to all but last anchor */
.main-nav :not(:nth-last-child(-n+2)){
    border-right: .2rem solid;
}


/*******************/
/*>>>>>Body >>>>>>/
/*******************/
.main-view{
    grid-area: body;
    text-align: center;
}

.vision-text-blocks{
  margin: auto;
}
.sub-view{
    margin-top: 4rem;
    min-height: 100vh;
    text-align: center;
}

.sub-view h3{
  font-size: 2rem;
}

.arrow{
  height: 5rem;
  width: auto;
  position: absolute;
  margin-top: 20vh;
  transition: height .5s, transform .5s;
}

.arrow:hover{
  height: 6rem;
}

.back{
  left: 10vw;
}

.forward{
  right: 10vw;
}

/* .data-img{
  width: 100vw;
} */

.back:hover{
  transform: translate(-2vw);
  padding-right: 2vw;
}
.forward:hover{
  transform: translate(2vw);
  padding-left: 2vw;
}

.text-blocks {
    position: relative;
    max-width: 60vw;
    /* margin: auto; */
}

.text-blocks h4{
    margin-top: 2rem;
    font-size: 2rem;
    font-weight: bold;
}

.text-blocks p{
    font-size: 2rem;
}

.adminToolsImg{
  width: 60vw;
  height: auto;
}

.inLineContact, .email{
  padding: 10px;
  border-radius: 15px;
  background-color: royalblue;
  color: white;
  font-size: 30px;
  margin-top: 2vh;
  transition: box-shadow .5s;
}

.inLineContact:hover{
  box-shadow: 1px 1px 30px royalblue;
  cursor: pointer;

}

.textBlockPContainer{
  width: 100%;
  /* border-bottom: 3px solid; */
  margin-bottom: 10px;

}
.textBlockP{
  color: #674FA5;
  margin: auto;
  max-width: 60vw;
  font-size: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-bottom: 1px grey solid;
}


.inLineContact a{
  color: white;
}

.inLineContact a:visited{
  color: white;
}
/*******************/
/*>>>>>Footer>>>>>>/
/*******************/

.footer{
    height: 100%;
    grid-area: footer;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 2px solid #292f33;
    background-color: black;
    color: #fff;
}

.websiteInfo{
    padding-left: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 30%;
}

.socialMedia{
  padding-right: 2rem;
  width: 20vw;
  display: flex;
  justify-content: space-evenly;
  align-items: center;

}

.socialMedia img{
  height: 5vh;
  width: auto;
  transition: box-shadow .5s cubic-bezier(.26,-0.08,.67,1.91);
}

.socialMedia img:hover{
  box-shadow: 1px 1px 50px #674FA5;
}


.mediaText{
  font-size: 2rem;
  opacity: 0;
  transition: opacity .5s;
  position: absolute;
  right: 15vw;
  max-height: 10vh;
  max-width: 20vw;
  padding-right: 5vw;
}

.facebook:hover ~ .facebookText{
  opacity: 1;
}

.instagram:hover ~ .instaText{
  opacity: 1;
}


.router-link-active{
   font-style: italic;
}
.router-link-active:visited{
  font-style: italic;
}

.openingTitle{
  font-size: 5rem;
  color: #292f33;
}

.openingSubTitle{
  font-size: 3rem;
  color: #292f33;
  padding-bottom: 5vh;
}

.contactTitle{
  margin:auto;
}

.contactSubTitle{
  margin:auto;
}

.openingContainer{
  box-sizing: content-box;
  border-top: white 4px solid;
  margin-top: -1px;
  border-bottom: 1px white solid;
  box-shadow: 1px 2px 30px #674FA5;
}

.leader-description{
  max-width: 60vw;
  margin: auto;
}

.summary-view{
  display: flex;
  margin-left: 10vw;
  margin-right: 10vw;
  justify-content: space-between;
  align-items: flex-start;
}

.summary-view h3{
  font-size: 40px;
}

.summary-view .text-blocks{
  max-width: 35vw;
  border: none;
}

.summary-view .text-blocks p{
  border: none;
}

@media only screen and (min-width: 900px) {
  #app{
    grid-template-columns: 1fr 3fr 3fr;
    grid-template-rows: 15vh 3fr 3fr 1fr;
    grid-row-gap: 2rem;
}

  .header{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0 5vw 0 5vw;
    width: 100vw;
  }

  .header a{
    flex: 1;
  }

  .header nav{
    flex: 2;
  }

  .header h1{
    padding-right: 2.5vw;
  }

  /* .openingTitle{
    max-width: 40vw;
    margin-left: 5vw;
  } */
}


/* ----------------------------------------------
 * Generated by Animista on 2018-8-5 9:3:10
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation heartbeat
 * ----------------------------------------
 */
 /* ----------------------------------------------
 * Generated by Animista on 2018-8-5 9:8:27
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation pulsate-fwd
 * ----------------------------------------
 */
@-webkit-keyframes pulsate-fwd {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  50% {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}
@keyframes pulsate-fwd {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  50% {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

.fade-enter-active{
  transition: transform .5s;
}
.fade-enter{
  transform: translate(100vw);
  /* opacity: 0; */
}

.not-active a{
  color: #292f33;
}
